---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Card_fakta from "../components/Card_fakta.astro";
import Card_nyhed_full from "../components/Card_nyhed_full.astro";
import Card_faciliteter from "../components/Card_faciliteter.astro";
import Hero from "../components/Hero.astro";
import proviantere from "../assets/images/proviantere.webp";
import video_roskilde_mp4 from "../assets/videos/roskilde_video_stor.mp4";
import ikon_video from "../assets/icons/video.svg";
import { Image } from "astro:assets";
---

<MainLayout title="Gæstesejler">
  <article class="flex flex-col gap-4xl lg:gap-10xl">
    <!-- Herosektion -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <Hero
        gemt_video="hidden"
        overskrift="Gæstesejler"
        tekst="Veddelev Havn er en lystbådhavn, som er beliggende naturskønt ved Roskilde Fjord – kun få kilometer fra Roskilde centrum."
        billede_foto="/hero_undersider_gaestesejler.webp"
        billede_foto_alt="Både i havnen med udkig til klubhuset"
        knap_tekst1="Priser"
        knap_tekst2="Faciliteter"
        url1="#fakta"
        url2="#g_faciliteter"
      />
    </section>
    <!-- Card fakta om priser, betaling og bådstørrelser -->
    <section id="fakta" class="animation1 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <div class="grid gap-ml lg:grid-cols-3 items-start">
        <Card_fakta overskrift="Priser" underoverskrift="190 kr. per overnatning" tekst1="Prisen for en overnatning i Veddelev Havn er 190 kr. for alle både. Dette er inklusiv miljøafgift og strøm samt adgang til bad- og toiletfaciliteter." />
        <Card_fakta
          overskrift="Betaling"
          underoverskrift="Betalingen foregår via MobilePay til 81527."
          tekst1="Betalingen for en overnatning foregår via MobilePay til 81527. Koden til klubhuset, toilet og bad samt sejlerstuen bliver efter betaling sendt til mobilnummeret."
          tekst2="Oplever du problemer eller har du spørgsmål så kontakt havnefogeden her."
        />
        <Card_fakta overskrift="Bådstørrelse" underoverskrift="Max 14,5 m x 4,5 m" tekst1="Havnen kan tage imod både op til 14,5 meter i længden og 4,5 meter i bredden." tekst2="Ledige gæstepladser er markeret med grønne skilte." />
      </div>
    </section>
    <!-- Besøg roskilde -->
    <section class="animation2 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <div class="lg:grid lg:grid-cols-8 gap-m lg:gap-ml">
        <div class="lg:order-2 lg:col-start-6 lg:col-span-3">
          <h3 class="text-m_h3 lg:text-d_h3 font-montserrat pb-m">Besøg Roskilde By, når du overnatter i Veddelev</h3>
          <p class="text-m_p lg:text-d_p font-opensans pb-m">Roskilde by er en af Danmarks ældste byer. Her kan du tage på Vikingemuseeum, besøge Roskilde Domkirke eller du kan tage en slentretur gennem gågaden der er fyldt med liv og butikker for enhver smag.</p>
          <p class="text-m_p lg:text-d_p font-opensans">Tag bus 203 eller 204 fra Fiskervejen, kun 200 m fra Veddelev Havn og du vil ankomme i Roskilde by.</p>
        </div>
        <div class="relative lg:col-start-1 lg:col-span-5 pt-m lg:pt-null">
          <div class="absolute z-50 bottom-m left-m">
            <Link
              href="https://www.google.com/maps/dir/Veddelev+Havn,+Fiskervejen,+Roskilde/4000+Roskilde/@55.6603783,12.0399263,13z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46526185fcdd0307:0x62857d430500cc1d!2m2!1d12.0692364!2d55.6794037!1m5!1m1!1s0x46525fc995012f29:0xa00afcc1d507710!2m2!1d12.087845!2d55.64191!3e1?authuser=0&entry=ttu&g_ep=EgoyMDI1MDUxNS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              variant="primary"
              size="large"
              hover="primary"
              press="primary"
              textcolor="primary"
              showIcon={false}>Google Maps</Link
            >
          </div>
          <div class="relative w-full lg:h-full 2xl:h-[500px] overflow-hidden" id="videoonhover" x-data>
            <div class="absolute top-sm right-sm">
              <Image src={ikon_video} alt="Ikon af videooptager" />
            </div>
            <video class="lg:hidden rounded-10 lg:rounded-15 w-full h-full object-cover object-[0%_25%]" controls autoplay muted loop>
              <source src={video_roskilde_mp4} type="video/mp4" />
            </video>
            <video class="hidden lg:flex rounded-10 lg:rounded-15 w-full h-full object-cover object-[0%_25%]" x-ref="hovervideo" @mouseenter="$refs.hovervideo.play()" @mouseleave="$refs.hovervideo.pause()">
              <source src={video_roskilde_mp4} type="video/mp4" />
            </video>
          </div>
        </div>
      </div>
    </section>
    <!-- Nyheder -->
    <section>
      <Card_nyhed_full />
    </section>
    <!-- Faciliteter -->
    <section id="g_faciliteter" class="stagger mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h2 class="animation3 text-m_h2 lg:text-d_h2 font-montserrat pb-m lg:pb-xl">Faciliteter ved besøg</h2>
      <div class="grid gap-m lg:gap-xl lg:grid-cols-2">
        <Card_faciliteter class="card-facilitet" icon="/ikoner/sejlerstue.svg" iconalt="Ikon af sejlerstue" overskrift="Sejlerstue" tekst="Sejlerstuen har åbent når der er medlemmer på havnen. Her finder du en kaffemaskine, opvaskeudstyr, køleskab og service. " />
        <Card_faciliteter class="card-facilitet" icon="/ikoner/havnekontor.svg" iconalt="Ikon af havnekontor" overskrift="Havnekontor" tekst="Havnekontoret ligger ved klubhuset og fungerer som base for havnefogeden, som står for den daglige drift og er kontaktperson ved spørgsmål." />
        <Card_faciliteter class="card-facilitet" icon="/ikoner/bad.svg" iconalt="Ikon af bad" overskrift="Toilet og bad" tekst="Toilet- og badefaciliteterne findes i klubhuset. Gæstesejlere modtager en adgangskode til klubhuset, når betaling for havnepladsen er registreret." />
        <Card_faciliteter class="card-facilitet" icon="/ikoner/kran.svg" iconalt="Ikon af kran" overskrift="Bedding, mastekran og slæbested" tekst="Som gæst er du velkommen til at benytte vores bedding og mastekran. Du skal dog være medlem af sejlklubben for at benytte slæbestedet." />
        <Card_faciliteter class="card-facilitet" icon="/ikoner/vand.svg" iconalt="Ikon af vand" overskrift="Vand og strøm" tekst="Der er strømstandere og vandslanger på alle broer, så bådejere og gæstesejlere nemt kan tilkoble el eller fylde vandtanken." />
        <Card_faciliteter class="card-facilitet" icon="/ikoner/udtoemning.svg" iconalt="Ikon af udtømning" overskrift="Udlagskumme for kemisk toilet" tekst="Du kan tømme dit kemiske toilet i vores udslagskumme. Den finder du ved skraldespandene på parkeingspladsen. " />
        <Card_faciliteter class="card-facilitet" icon="/ikoner/grill.svg" iconalt="Ikon af grill" overskrift="Grill" tekst="Du må frit benytte klubhusets fælles grill. Du finder den til højre for klubhuset. Du må ikke benytte din egen grill på havnen." />
        <Card_faciliteter class="card-facilitet" icon="/ikoner/redning.svg" iconalt="Ikon af redning" overskrift="Redning og sikkerhed" tekst="Havnen er certificeret som Sikker Havn, hvilket betyder, at der er redningstiger og redningskranse strategiske placeret overalt på havneområdet for maksimal sikkerhed." />
      </div>
    </section>
    <!-- Proviantere -->
    <section class="animation4 mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <div class="lg:grid lg:grid-cols-8">
        <div class="lg:col-start-2 lg:col-span-6 xl:col-start-3 xl:col-span-6 2xl:col-start-3 2xl:col-span-6">
          <h2 class="text-m_h2 lg:text-d_h2 font-montserrat pb-m">Har du brug for at proviantere?</h2>
          <p class="text-m_p lg:text-d_p font-opensans pb-ml lg:max-w-[471px]">Du kan proviantere i Himmelev kun 3 km fra havnen. Her finder du et supermarked. Du kan også tage en tur ind til Roskilde by, hvor der er mange indkøbsmuligheder.</p>
        </div>
        <div class="relative lg:col-start-4 lg:col-span-5">
          <div class="absolute z-50 bottom-m left-m">
            <Link
              href="https://www.google.com/maps/dir/Veddelev+Havn,+Fiskervejen,+Roskilde/Netto+Himmelev,+Himmelev+Bygade,+Roskilde/@55.6719325,12.0672563,14z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x46526185fcdd0307:0x62857d430500cc1d!2m2!1d12.0692364!2d55.6794037!1m5!1m1!1s0x46525e384fa8efd1:0xd799d59f4e8418c6!2m2!1d12.1061387!2d55.6646352!3e1?authuser=0&entry=ttu&g_ep=EgoyMDI1MDUxNS4wIKXMDSoASAFQAw%3D%3D"
              target="_blank"
              variant="primary"
              size="large"
              hover="primary"
              press="primary"
              textcolor="primary"
              showIcon={false}>Google Maps</Link
            >
          </div>
          <div class="relative w-full h-[350px] lg:h-[400px] 2xl:h-[450px] overflow-hidden">
            <Image src={proviantere} alt="Græsareal syd for Veddelev Havn" class="rounded-10 lg:rounded-15 w-full h-full object-cover object-[52%_25%]" />
          </div>
        </div>
      </div>
    </section>
  </article>
</MainLayout>

<script type="module">
  import { inView, animate, stagger } from "https://cdn.skypack.dev/@motionone/dom";
  // fade_up animation fra animation.css
  // animation1
  const inviewelement = document.querySelector(".animation1");

  inView(inviewelement, () => {
    inviewelement.classList.add("animate__animated", "animate__fadeInUp");
  });

  // animation2
  const inviewelement2 = document.querySelector(".animation2");

  inView(inviewelement2, () => {
    inviewelement2.classList.add("animate__animated", "animate__fadeInUp");
  });

  // animation3
  const inviewelement3 = document.querySelector(".animation3");

  inView(inviewelement3, () => {
    inviewelement3.classList.add("animate__animated", "animate__fadeInUp");
  });

  // animation4
  const inviewelement4 = document.querySelector(".animation4");

  inView(inviewelement4, () => {
    inviewelement4.classList.add("animate__animated", "animate__fadeInUp");
  });

  // animation5
  const inviewelement5 = document.querySelector(".animation5");

  inView(inviewelement5, () => {
    inviewelement5.classList.add("animate__animated", "animate__fadeInUp");
  });

  // animation6
  const inviewelement6 = document.querySelector(".animation6");

  inView(inviewelement6, () => {
    inviewelement6.classList.add("animate__animated", "animate__fadeInUp");
  });

  // stagger animation på card faciliteter - udarbejdet i samarbejde med ChatGPT.
  inView(".stagger", () => {
    animate(
      ".card-facilitet",
      { opacity: [0, 1], transform: ["translateY(20px)", "translateY(0)"] },
      {
        duration: 0.5,
        delay: stagger(0.2, { start: 0.6 }),
        easing: "ease-out",
      }
    );
  });
</script>
