---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Formular_full from "../components/Formular_full.astro";
import Card_hjaelp from "../components/Card_hjaelp.astro";
import Card_fakta from "../components/Card_fakta.astro";
import Karrusel_klubhus from "../components/Karrusel_klubhus.astro";
import Card_nyhed_full from "../components/Card_nyhed_full.astro";
import billede_hero_kontakt from "../assets/images/hero_undersider_kontakt.webp";
import joller1 from "../assets/images/jollerpaahavnen_1.webp";
import joller2 from "../assets/images/jollerpaahavnen_2.webp";
import laeratsejle from "../assets/images/laeratsejle_2.webp";
import vaerefrivillig from "../assets/images/vaerefrivillig.webp";
import { Image } from "astro:assets";
---

<MainLayout title="Titel">
  <article class="flex flex-col gap-4xl lg:gap-10xl">
    <!-- Herosektion -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl grid lg:items-center lg:grid-cols-5 pt-ml lg:pt-8xl lg:gap-2xl xl:gap-3xl 2xl:gap-10xl">
      <div class="col-span-2 pb-ml">
        <h1 class="text-m_h1 lg:text-d_h1 font-montserrat pb-s">Sejlklub</h1>
        <p class="text-m_p lg:text-d_p font-opensans pb-sm lg:pb-ml">VSB Sejlklub er en aktiv forening for sejlere på Veddelev Havn. Klubben tilbyder både sejlerskole, kapsejlads og sociale arrangementer året rundt.</p>
        <div class="flex flex-col gap-s lg:gap-m">
          <Link href="#" target="_blank" variant="primary" size="large" hover="primary" press="primary">Medlemsskab</Link>
          <Link href="#" target="_blank" variant="secondary" size="small" hover="secondary" press="secondary">Kontakt</Link>
        </div>
      </div>
      <div class="col-span-3">
        <div class="relative w-full h-[393px] rounded-10 lg:rounded-15 overflow-hidden">
          <Image src={billede_hero_kontakt} alt="Billede af..." class="w-full h-full object-cover object-[0%_25%]" />
        </div>
      </div>
    </section>
    <!-- formular til sejlklub -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <Formular_full />
    </section>

    <!-- Pris på medlemsskab -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl grid gap-s">
      <h4 class="text-m_h4 lg:text-d_h4 font-montserrat">Pris på medlemskontigenter</h4>
      <!-- mobile -->
      <div>
        <div class="border-b-1 border-neutral-950 grid gap-s pb-s lg:hidden">
          <h8 class="text-m_h8 font-opensans">Junior medlemsskab </h8>
          <p class="text-m_p font-opensans">Alder: 8-18 år</p>
          <p class="text-m_p font-opensans">Pris 2025: 200 kr. årligt</p>
          <p class="text-m_p font-opensans">Indmeldelsesgebyr 0 kr.</p>
        </div>
        <div class="border-b-1 border-neutral-950 grid gap-s pb-s lg:hidden">
          <h8 class="text-m_h8 font-opensans">Ung medlemsskab </h8>
          <p class="text-m_p font-opensans">Alder: 19-25 år</p>
          <p class="text-m_p font-opensans">Pris 2025: 300 kr. årligt</p>
          <p class="text-m_p font-opensans">Indmeldelsesgebyr 150 kr.</p>
        </div>
        <div class="border-b-1 border-neutral-950 grid gap-s pb-s lg:hidden">
          <h8 class="text-m_h8 font-opensans">Senior samlevende medlemsskab </h8>
          <p class="text-m_p font-opensans">Alder: &gt;25 år</p>
          <p class="text-m_p font-opensans">Pris 2025: 400 kr. årligt per person</p>
          <p class="text-m_p font-opensans">Indmeldelsesgebyr 150 per person kr.</p>
        </div>
        <div class="border-b-1 border-neutral-950 grid gap-s pb-s lg:hidden">
          <h8 class="text-m_h8 font-opensans">Senior medlemsskab </h8>
          <p class="text-m_p font-opensans">Alder: &gt;25 år</p>
          <p class="text-m_p font-opensans">Pris 2025: 700 kr. årligt</p>
          <p class="text-m_p font-opensans">Indmeldelsesgebyr 150 kr.</p>
        </div>
      </div>

      <!-- desktop -->
      <div class="hidden lg:block">
        <div class="grid grid-cols-4 gap-sm py-sm border-b-1 border-neutral-950">
          <h8 class="text-d_h8 font-opensans">Medlemsskab </h8>
          <h8 class="text-d_h8 font-opensans">Alder</h8>
          <h8 class="text-d_h8 font-opensans">Pris 2025</h8>
          <h8 class="text-d_h8 font-opensans">Indmeldelsesgebyr </h8>
        </div>
        <div class="grid grid-cols-4 gap-sm py-sm border-b-1 border-neutral-950">
          <p class="text-d_p font-opensans">Junior</p>
          <p class="text-d_p font-opensans">8 - 18 år</p>
          <p class="text-d_p font-opensans">200 kr. årligt</p>
          <p class="text-d_p font-opensans">0 kr.</p>
        </div>
        <div class="grid grid-cols-4 gap-sm py-sm border-b-1 border-neutral-950">
          <p class="text-d_p font-opensans">Ung</p>
          <p class="text-d_p font-opensans">19 - 25 år</p>
          <p class="text-d_p font-opensans">300 kr. årligt</p>
          <p class="text-d_p font-opensans">150 kr.</p>
        </div>
        <div class="grid grid-cols-4 gap-sm py-sm border-b-1 border-neutral-950">
          <p class="text-d_p font-opensans">Senior samlevende</p>
          <p class="text-d_p font-opensans">&gt;25 år</p>
          <p class="text-d_p font-opensans">400 kr. årligt per person</p>
          <p class="text-d_p font-opensans">150 per person kr.</p>
        </div>
        <div class="grid grid-cols-4 gap-sm py-sm lg:border-b-1 border-neutral-950">
          <p class="text-d_p font-opensans">Senior</p>
          <p class="text-d_p font-opensans">&gt;25 år</p>
          <p class="text-d_p font-opensans">700 kr. årligt</p>
          <p class="text-d_p font-opensans">150 kr.</p>
        </div>
      </div>
      <div class="pt-s lg:pt-sm">
        <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Se alle priser for VSL Sejlklub</Link>
      </div>
    </section>
    <!-- Karrusel klubhus -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <Karrusel_klubhus />
    </section>
    <!-- nyhedssektion -->
    <section class="">
      <Card_nyhed_full />
    </section>
    <!-- Lær at sejle -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h2 class="text-m_h2 lg:text-d_h2 font-montserrat pb-m">Lær at sejle på VSB’s sejlerskole</h2>
      <div class="grid lg:grid-cols-2 lg:items-end pb-ml lg:gap-5xl">
        <p class="text-m_p lg:text-d_p font-opensans lg:max-w-[471px] pb-sm">Sejlerskolen i VSB Sejlklub er for alle, der ønsker at lære at sejle på Roskilde Fjord og lære at håndtere en sejlbåd. I VSB Sejlerskole får du lært at sejle under forskellige vind og vejrforhold samt at navigere sikkert på fjorden.</p>
        <Link href="#" target="_blank" variant="primary" size="small" hover="primary" press="primary">Læs mere om sejlerskolen</Link>
      </div>
      <div class="relative w-full h-[350px] lg:h-[450px] overflow-hidden grid grid-cols-10 grid-rows-5 lg:grid-cols-10 lg:grid-rows-10 gap-s lg:gap-l rounded-10 lg:rounded-15">
        <Image src={billede_hero_kontakt} alt="Billede af skilt på havnen" class="rounded-10 lg:rounded-15 col-start-1 col-span-6 row-start-1 row-span-4 lg:col-start-2 xl:col-start-2 lg:col-span-6 xl:col-span-6 lg:row-start-1 lg:row-span-8 xl:row-start-1 xl:row-span-8 w-full h-full object-cover object-[52%_25%]" />
        <Image src={laeratsejle} alt="Billede af skilt på havnen" class="rounded-10 lg:rounded-15 col-start-7 col-span-4 row-start-2 row-span-4 lg:col-start-8 xl:col-start-8 lg:col-span-2 xl:col-span-2 lg:row-start-4 lg:row-span-6 xl:row-start-4 xl:row-span-6 w-full h-full object-cover object-[52%_25%]" />
      </div>
    </section>
    <!-- Frivillig -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h2 class="text-m_h2 lg:text-d_h2 font-montserrat pb-m">Vil du være frivillig på havnen?</h2>
      <div class="grid lg:grid-cols-5 lg:items-end pb-ml lg:gap-ml">
        <div class="lg:order-2 lg:col-start-3 lg:col-span-2 pb-ml">
          <p class="text-m_p lg:text-d_p font-opensans lg:max-w-[471px] pb-sm">Som frivillig kan du bidrage til alt fra praktiske opgaver i havnen til afvikling af arrangementer og aktiviteter. Det er en god måde at lære andre at kende og være en aktiv del af fællesskabet i VSB Sejlklub.</p>
          <Link href="#" target="_blank" variant="primary" size="large" hover="primary" press="primary">Kontakt os</Link>
        </div>
        <Image src={vaerefrivillig} alt="Billede af skilt på havnen" class="rounded-10 lg:rounded-15 lg:col-start-1 lg:col-span-2 w-full h-full object-cover object-[52%_25%]" />
      </div>
    </section>

    <!-- Link til pdf'er -->
    <section class="px-ml lg:px-5xl xl:px-12xl 2xl:px-15xl bg-brown-100 py-2xl lg:py-6xl grid gap-4xl lg:grid-cols-2 lg:gap-11xl">
      <div class="flex flex-col lg:items-center">
        <div>
          <h6 class="text-m_h7 lg:text-d_h7 font-montserrat">Referater for generalforsamlinger</h6>
          <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Læs pdf</Link>
        </div>
      </div>
      <div class="flex flex-col items-end lg:items-center">
        <div>
          <h6 class="text-m_h7 lg:text-d_h7 font-montserrat">Referater for bestyrelsesmøder</h6>
          <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Læs pdf</Link>
        </div>
      </div>
    </section>
    <!-- Joller på havnen -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h2 class="text-m_h2 lg:text-d_h2 font-montserrat pb-m">Joller på havnen</h2>
      <div class="grid lg:grid-cols-2 lg:items-end pb-ml lg:gap-5xl">
        <p class="text-m_p lg:text-d_p font-opensans lg:max-w-[471px] pb-sm lg:pb-null">Veddelev Havn har gode faciliteter for jolleejere – både til fritid, fiskeri og sejlads. Her finder du nem adgang til vandet og et aktivt jolleliv året rundt.</p>
        <Link href="#" target="_blank" variant="primary" size="small" hover="primary" press="primary">Læs mere om joller</Link>
      </div>
      <div class="relative w-full h-[350px] lg:h-[450px] overflow-hidden grid grid-cols-10 grid-rows-5 lg:grid-cols-10 lg:grid-rows-10 gap-s lg:gap-l rounded-10 lg:rounded-15">
        <Image src={joller1} alt="Billede af skilt på havnen" class="rounded-10 lg:rounded-15 col-start-1 col-span-6 row-start-1 row-span-4 lg:col-start-1 xl:col-start-1 lg:col-span-7 xl:col-span-7 lg:row-start-1 lg:row-span-9 xl:row-start-1 xl:row-span-9 w-full h-full object-cover object-[52%_25%]" />
        <Image src={joller2} alt="Billede af skilt på havnen" class="rounded-10 lg:rounded-15 col-start-7 col-span-4 row-start-2 row-span-4 lg:col-start-8 xl:col-start-8 lg:col-span-2 xl:col-span-2 lg:row-start-5 lg:row-span-6 xl:row-start-5 xl:row-span-6 w-full h-full object-cover object-[52%_25%]" />
      </div>
    </section>
    <!-- Kapsejladser -->
    <section class="mx-ml lg:mx-5xl xl:mx-9xl 2xl:mx-11xl">
      <h2 class="text-m_h2 lg:text-d_h2 font-montserrat pb-m">Vil du være med til kapsejladser?</h2>
      <div class="grid lg:grid-cols-5 pb-ml lg:gap-xl xl:gap-5xl">
        <div class="lg:col-start-1 lg:col-span-3 xl:col-start-1 xl:col-span-2">
          <p class="text-m_p lg:text-d_p font-opensans lg:max-w-[471px] lg:pb-ml">Fra Veddelev Havn sejles der kapsejladser i på fjorden mellem Roskilde og Veddelev. Her mødes sejlere til hyggelige og konkurrencedygtige aftener i en afslappet stemning – uanset niveau.</p>
          <Link href="#" target="_blank" variant="primary" size="small" hover="primary" press="primary">Læs mere om kapsejladser</Link>
        </div>
        <div class="lg:col-start-4 lg:col-span-2 xl:col-start-3 xl:col-span-3">
          <Image src={joller1} alt="Billede af skilt på havnen" class="rounded-10 lg:rounded-15 col-start-1 col-span-6 row-start-1 row-span-4 lg:col-start-1 xl:col-start-1 lg:col-span-7 xl:col-span-7 lg:row-start-1 lg:row-span-9 xl:row-start-1 xl:row-span-9 w-full h-full object-cover object-[52%_25%]" />
        </div>
      </div>
    </section>
  </article>

  <!-- <article class="">
    <Link href="#" target="_blank" variant="primary" size="small" hover="primary" press="primary">primary small</Link>
    <Link href="#" target="_blank" variant="primary" size="large" hover="primary" press="primary">primary large</Link>
    <Link href="#" target="_blank" variant="primary" size="large" hover="primary" press="primary" showIcon={false}>primary large</Link>
    <Link href="#" target="_blank" variant="secondary" size="small" hover="secondary" press="secondary">secondary small</Link>
    <Link href="#" target="_blank" variant="secondary" size="small" hover="secondary" press="secondary">secondary large</Link>
    <Link href="#" target="_blank" variant="secondary" size="large" hover="secondary" press="secondary">Link der skal være secondary</Link>
    <Link href="#" target="_blank" variant="tertiary" size="small" hover="tertiary">Link der skal være secondary</Link>
    <Link href="#" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Menupunkt</Link>
  </article> -->

  <!-- <article class="my-10xl mx-5xl">
    <div class="grid gap-ml lg:grid-cols-3">
      <Card_hjaelp url="" overskrift="Prisen for en overnatning" tekst="Her kan du se prisen for en overnatning." />
      <Card_hjaelp url="" overskrift="Faciliteter på havnen" tekst="Her kan du finde en liste over havnens faciliteter." />
      <Card_hjaelp url="" overskrift="Venteliste til andel" tekst="Her kan du skrive dig på en venteliste til en andel." />
      <Card_hjaelp url="" overskrift="VSB og VSL" tekst="Her kan du læse forskellen på VSB og VSL." />
      <Card_hjaelp url="" overskrift="Regler og love" tekst="Se alle regler og love for Veddelev Havn." />
      <Card_hjaelp url="" overskrift="Tilmeld VSB Sejlklub" tekst="Tilmeld dig VSB Sejlklub via. formularen." />
      <Card_hjaelp url="" overskrift="Joller" tekst="Her kan du læse om jollepladser, slæbested mm." />
      <Card_hjaelp url="" overskrift="Kapsejladser" tekst="Her kan du læse mere om kapsejladser på havnen." />
      <Card_hjaelp url="" overskrift="Sejlerskole" tekst="Her kan du læse om sæsonens sejlerskole." />
    </div>
  </article> -->
  <!-- <article class="my-10xl mx-5xl">
    <div class="grid gap-ml lg:grid-cols-3 items-start">
      <Card_fakta overskrift="Priser" underoverskrift="190 kr. per overnatning" tekst="Prisen for en overnatning i Veddelev Havn er 190 kr. for alle både. Dette er inklusiv miljøafgift og strøm samt adgang til bad- og toiletfaciliteter." />
      <Card_fakta overskrift="Betaling" underoverskrift="Betalingen foregår via MobilePay til 81527." tekst="Betalingen for en overnatning foregår via MobilePay til 81527. Koden til klubhuset, toilet og bad samt sejlerstuen bliver efter betaling sendt til mobilnummeret. Oplever du problemer eller har du spørgsmål så kontakt havnefogeden her. " />
      <Card_fakta overskrift="Bådstørrelse" underoverskrift=" Max 14,5 m x 4,5 m" tekst="Havnen kan tage imod både op til 14,5 meter i længden og 4,5 meter i bredden. Ledige gæstepladser er markeret med grønne skilte." />
    </div>
  </article> -->

  <!-- <article class="my-10xl mx-5xl">
    <div class="grid gap-ml lg:grid-cols-3">
      <Card_fakta underoverskrift="Andelshavere" number="110" />
      <Card_fakta underoverskrift="Gæstesejlere" number="450" />
      <Card_fakta underoverskrift="Jolleindehavere" number="30" />
    </div>
  </article> -->
</MainLayout>
