---
import { Image } from "astro:assets";
import icon_telefon from "../assets/icons/telefon.svg";
import icon_email from "../assets/icons/mail.svg";
const { navn = "", telefonnummer = "", email = "" } = Astro.props;
---

<article class="space-y-3xs">
  <p class="text-m_p lg:text-d_p font-opensans break-all">{navn}</p>
  <div class="flex gap-m">
    <Image src={icon_telefon} alt="Ikon af telefon" />
    <a href={`tel:${telefonnummer}`}>
      <p class="text-m_p lg:text-d_p font-opensans break-all hover:underline">{telefonnummer}</p>
    </a>
  </div>
  <div class="flex gap-m">
    <Image src={icon_email} alt="Ikon af email" />
    <a href={`mailto:${email}`}>
      <p class="text-m_p lg:text-d_p font-opensans break-all hover:underline">{email}</p>
    </a>
  </div>
</article>
