---
import CardKontaktInfo from "./Card_kontakt_info.astro";

const { overskrift = "", navn1 = "", navn2 = "", navn3 = "", navn4 = "", telefonnummer1 = "", telefonnummer2 = "", email1 = "", email2 = "", showText = true, target = "_self", variant = "", size = "", hover = "", press = "" } = Astro.props;

const variantClasses = {
  primary: "bg-yellow-300 text-neutral-50 rounded-full lg:py-xs py-2xs px-m",
  secondary: "bg-green-700  text-neutral-50 rounded-full lg:py-xs py-2xs px-m ",
  tertiary: "text-neutral-950 rounded-full",
};

const sizeClasses = {
  null: "w-fit flex items-center gap-m",
  small: "w-fit flex items-center gap-m",
  large: "w-fit lg:py-xs lg:px-m flex items-center gap-5xl",
};
---

<article class="@container card bg-brown-100 rounded-10 lg:rounded-15 px-l py-ml space-y-sm">
  <h6 class="text-m_h7 lg:text-d_h7 font-montserrat">{overskrift}</h6>
  <div>
    <p class="text-m_p lg:text-d_p font-opensans">{navn1}</p>
    <p class="text-m_p lg:text-d_p font-opensans">{navn2}</p>
  </div>
  <div class="space-y-s">
    <CardKontaktInfo navn={navn3} telefonnummer={telefonnummer1} email={email1} />
    {showText && <CardKontaktInfo navn={navn4} telefonnummer={telefonnummer2} email={email2} />}
  </div>
</article>

<!-- <a href={href} class="" target={target}>
  <div class:list={[variantClasses[variant], sizeClasses[size], hoverClasses[hover], pressClasses[press]]}>
    <slot />
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
    </svg>
  </div>
</a> -->

<!-- <article class="@container card">
  <section class="flex gap-sm">
    <img src={icon} alt={iconalt} class="rounded-5 lg:rounded-7" />
    <div class="flex flex-col gap-2xs">
      <h6 class="text-m_h6 lg:text-d_h6 font-opensans">{overskrift}</h6>
      <p class="text-m_p lg:text-d_p font-opensans">{tekst}</p>
    </div>
  </section>
</article> -->
