---
const { overskrift = "", underoverskrift = "", tekst1 = "", tekst2 = "", number = "", id = "" } = Astro.props;
---

<article class="@container card fakta_animation p-l space-y-sm relative custom-border">
  <section class="flex flex-col justify-between gap-m">
    <div class="flex flex-col gap-xs">
      <h4 class="text-m_h4 xl:text-d_h4 break-words text-center font-montserrat">{overskrift}</h4>
      <p id={id} class="counter text-m_number lg:text-m_number xl:text-d_number text-center font-opensans" data-target={number}></p>
      <h8 class="text-m_h8 lg:text-d_h8 text-center font-montserrat">{underoverskrift}</h8>
      <p class="text-m_p lg:text-d_p font-opensans">{tekst1}</p>
      <p class="text-m_p lg:text-d_p font-opensans pt-s">{tekst2}</p>
    </div>
  </section>
</article>

<style>
  .custom-border::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 7px; /* tykkelsen på "border" */
    background: conic-gradient(#000fc7 0deg 90deg, #bcd3cd 90deg 180deg, #364f4c 180deg 270deg, #ffc943 270deg 360deg);
    border-radius: inherit;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
  }
</style>
