---
import CardKontaktInfo from "./Card_kontakt_info.astro";

const { overskrift = "", navn1 = "", navn2 = "", navn3 = "", navn4 = "", telefonnummer1 = "", telefonnummer2 = "", email1 = "", email2 = "", showText = true, showSpace = true } = Astro.props;

const variantClasses = {
  primary: "bg-yellow-300 text-neutral-50 rounded-full lg:py-xs py-2xs px-m",
  secondary: "bg-green-700  text-neutral-50 rounded-full lg:py-xs py-2xs px-m ",
  tertiary: "text-neutral-950 rounded-full",
};

const sizeClasses = {
  null: "w-fit flex items-center gap-m",
  small: "w-fit flex items-center gap-m",
  large: "w-fit lg:py-xs lg:px-m flex items-center gap-5xl",
};
---

<article class="@container card bg-brown-100 rounded-10 lg:rounded-15 px-l py-ml lg:px-ml lg:py-m xl:px-l xl:py-ml space-y-sm h-full">
  <h6 class="text-m_h7 lg:text-d_h7 font-montserrat break-all">{overskrift}</h6>
  <div>
    <p class="text-m_p lg:text-d_p font-opensans">{navn1}</p>
    <p class="text-m_p lg:text-d_p font-opensans">{navn2}</p>
  </div>
  <!-- Ekstra afstand på medium -->
  {showSpace && <div class="h-l" />}
  <div class="space-y-s">
    <CardKontaktInfo navn={navn3} telefonnummer={telefonnummer1} email={email1} />
    {showText && <CardKontaktInfo navn={navn4} telefonnummer={telefonnummer2} email={email2} />}
  </div>
</article>
