---
import Link from "../components/Link.astro";
---

<article class="px-ml lg:px-5xl xl:px-9xl 2xl:px-11xl mt-4xl lg:mt-10xl bg-brown-100 py-xl space-y-3xl lg:space-y-0 lg:flex lg:justify-between">
  <ul class="space-y-m">
    <li><Link href="/gaestesejler" target="_self" variant="footer" size="" hover="tertiary" showIcon={false} textcolor="primary">Er du gæstesejler?</Link></li>
    <li><Link href="/sejlklub" target="_self" variant="footer" size="" hover="tertiary" showIcon={false} textcolor="primary">Vil du være medlem af sejlklubben?</Link></li>
    <li><Link href="#" target="_self" variant="footer" size="" hover="tertiary" showIcon={false} textcolor="primary">Ønsker du en andel?</Link></li>
    <li><Link href="/kontakt" target="_self" variant="footer" size="" hover="tertiary" showIcon={false} textcolor="primary">Kontakt</Link></li>
  </ul>
  <div class="lg:flex lg:flex-col lg:items-center list-none space-y-m">
    <li><Link href="https://www.facebook.com/veddelevsejlklub/?locale=da_DK" target="_blanc" variant="footer" size="" hover="tertiary" showIcon={false} textcolor="primary">Følg med på Facebook</Link></li>
    <a href="https://www.facebook.com/veddelevsejlklub/?locale=da_DK" target="_blank"><img src="/facebook.svg" alt="facebook-logo" class="hover:scale-105 transition-transform" /> </a>
  </div>
  <div>
    <h6 class="text-m_h8 lg:text-d_h8 font-montserrat">Veddelev Havn</h6>
    <p class="text-m_p lg:text-d_p font-opensans">Fiskervejen 75, Veddelev</p>
    <p class="text-m_p lg:text-d_p font-opensans">4000 Roskilde</p>
  </div>
</article>
