---
import Link from "../components/Link.astro";
---

<div x-data="{ showmenu: false }" class="">
  <div id="navbar" class="">
    <!-- <div id="logo" class="flex">
      <nav id="desktopmenu" class="hidden lg:flex lg:flex-col lg:justify-between bg-green-700 w-[226px] h-screen sticky px-xl py-2xl">
        <ul class="flex flex-col gap-sm">
          <a href="/"><img src="/logo.webp" alt="Logo" class="max-w-7xl hidden lg:block lg:pb-3xl" /> </a>
          <li class=""><Link href="/havnen" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Havnen</Link></li>
          <li class=""><Link href="#" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Gæstesejler</Link></li>
          <li class=""><Link href="#" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Nyheder</Link></li>
          <li class=""><Link href="/Kontakt" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Kontakt</Link></li>
          <li class=""><Link href="#" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>FAQ</Link></li>
        </ul>
        <ul class="lg:flex gap-xs">
          <a href="/"><img src="/login.svg" alt="Logo" class="hidden lg:block" /> </a>
          <li class=""><Link href="#" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Login</Link></li>
        </ul>
      </nav>
    </div> -->
    <!-- Menu på mobil -->
    <div class="lg:hidden px-ml py-xs z-50 bg-green-700 w-screen">
      <div class="flex justify-between">
        <a href="/"><img src="/logo.webp" alt="Logo" class="max-w-[35px] lg:hidden" /> </a>
        <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
          <img :src="showmenu ? '/kryds.svg' : '/burgermenu.svg'" alt="Menu" />
        </button>
      </div>
      <!-- Åben burgermenu på mobil -->
      <nav id="mobilmenu" class="flex flex-col content-left bg-green-700 h-screen pt-ml" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="space-y-sm">
          <li class=""><Link href="/havnen" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Havnen</Link></li>
          <li class=""><Link href="/havnen" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Gæstesejler</Link></li>
          <li class=""><Link href="/havnen" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Nyheder</Link></li>
          <li class=""><Link href="/havnen" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Kontakt</Link></li>
          <li class=""><Link href="/havnen" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>FAQ</Link></li>
          <li class=""><Link href="/havnen" target="_blank" variant="menupunkt" size="" hover="tertiary" showIcon={false}>Login</Link></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
