---
import Link from "../components/Link.astro";
---

<aside class="hidden lg:flex flex-col bg-green-700 w-[226px] 2xl:w-[266px] h-screen sticky px-xl 2xl:px-3xl py-2xl top-0 p-4">
  <div x-data="{ showmenu: false }" class="h-full">
    <nav id="desktopmenu" class="flex flex-col justify-between h-full">
      <ul class="flex flex-col gap-sm">
        <li class="flex justify-center"><a href="/"><img src="/logo.webp" alt="Logo" class="max-w-7xl hidden lg:block lg:pb-3xl" /> </a></li>
        <!-- accordion -->
        <li x-data="{ open: false }" class="flex flex-col">
          <button @click="open = !open" class="text-left text-neutral-50 lg:text-d_menupunkt text-m_menupunkt font-montserrat flex gap-xs items-center hover:underline">
            <span>Havnen</span>
            <svg :class="{ 'rotate-90': open }" class="w-m h-m transition-transform duration-200" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
            </svg>
          </button>
          <ul x-show="open" x-collapse class="mt-2 space-y-1 text-white text-sm">
            <li><Link href="/omhavnen" target="_self" variant="undermenupunkt" hover="tertiary" textcolor="secondary" showIcon={false}>Om havnen</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" hover="tertiary" textcolor="secondary" showIcon={false}>Andel</Link></li>
            <li><Link href="/sejlklub" target="_self" variant="undermenupunkt" hover="tertiary" textcolor="secondary" showIcon={false}>Sejlklub</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" hover="tertiary" textcolor="secondary" showIcon={false}>Klubhuset</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" hover="tertiary" textcolor="secondary" showIcon={false}>Sejlerskolen</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" hover="tertiary" textcolor="secondary" showIcon={false}>Kapsejladser</Link></li>
          </ul>
        </li>
        <!-- accordion slut -->
        <li class=""><Link href="/gaestesejler" target="_self" variant="menupunkt" size="" hover="tertiary" textcolor="secondary" showIcon={false}>Gæstesejler</Link></li>
        <li class=""><Link href="#" target="_self" variant="menupunkt" size="" hover="tertiary" textcolor="secondary" showIcon={false}>Nyheder</Link></li>
        <li class=""><Link href="/kontakt" target="_self" variant="menupunkt" size="" hover="tertiary" textcolor="secondary" showIcon={false}>Kontakt</Link></li>
        <li class=""><Link href="#" target="_self" variant="menupunkt" size="" hover="tertiary" textcolor="secondary" showIcon={false}>FAQ</Link></li>
      </ul>
      <ul class="lg:flex gap-xs">
        <a href="/"><img src="/login.svg" alt="Login-ikon" class="hidden lg:block" /> </a>
        <li class=""><Link href="#" target="_blank" variant="menupunkt" size="" hover="tertiary" textcolor="secondary" showIcon={false}>Login</Link></li>
      </ul>
    </nav>
  </div>
</aside>

<!-- Menu på mobil -->
<div x-data="{ showmenu: false }" class="">
  <div class="lg:hidden fixed px-ml py-xs z-60 bg-green-700 w-screen">
    <div class="flex justify-between">
      <a href="/"><img src="/logo.webp" alt="Logo" class="max-w-[35px] lg:hidden" /> </a>
      <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
        <img :src="showmenu ? '/kryds.svg' : '/burgermenu.svg'" alt="Menu" />
      </button>
    </div>
    <!-- Åben burgermenu på mobil -->
    <nav id="mobilmenu" class="flex flex-col content-left bg-green-700 h-screen pt-ml" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
      <ul class="space-y-sm">
        <!-- accordion -->
        <li x-data="{ open: false }" class="flex flex-col">
          <button @click.stop="open = !open" class="text-left text-neutral-50 lg:text-d_menupunkt text-m_menupunkt font-montserrat flex gap-xs items-center">
            <span>Havnen</span>
            <svg :class="{ 'rotate-90': open }" class="w-ml h-ml transition-transform duration-200" fill="none" stroke="currentColor" stroke-width="3" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"></path>
            </svg>
          </button>
          <ul x-show="open" x-collapse class="mt-2 space-y-1 text-white text-sm">
            <li><Link href="/omhavnen" target="_self" variant="undermenupunkt" showIcon={false} textcolor="secondary">Om havnen</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" showIcon={false} textcolor="secondary">Andel</Link></li>
            <li><Link href="/sejlklub" target="_self" variant="undermenupunkt" showIcon={false} textcolor="secondary">Sejlklub</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" showIcon={false} textcolor="secondary">Klubhuset</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" showIcon={false} textcolor="secondary">Sejlerskolen</Link></li>
            <li><Link href="#" target="_self" variant="undermenupunkt" showIcon={false} textcolor="secondary">Kapsejladser</Link></li>
          </ul>
        </li>
        <!-- accordion slut -->
        <li class=""><Link href="/gaestesejler" target="_self" variant="menupunkt" size="" showIcon={false} textcolor="secondary">Gæstesejler</Link></li>
        <li class=""><Link href="#" target="_self" variant="menupunkt" size="" showIcon={false} textcolor="secondary">Nyheder</Link></li>
        <li class=""><Link href="/kontakt" target="_self" variant="menupunkt" size="" showIcon={false} textcolor="secondary">Kontakt</Link></li>
        <li class=""><Link href="#" target="_self" variant="menupunkt" size="" showIcon={false} textcolor="secondary">FAQ</Link></li>
        <li class=""><Link href="#" target="_self" variant="menupunkt" size="" showIcon={false} textcolor="secondary">Login</Link></li>
      </ul>
    </nav>
  </div>
</div>
